body{
  color: white;
  background-color: blue;
  text-align: center !important;
  font-family: Helvetica, sans-serif;
}

.container{
  color: black;
  background-color: blue;
  text-align: center !important;
}