<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
		    <meta name="Description" content="">
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css')}}" />

		    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&family=Source+Sans+Pro&display=swap" rel="stylesheet">

        <title>Alex Chen's OnlyFans</title>
        <style>
          body{
            color: white;
            background-color: white;
            text-align: center !important;
            font-family: Helvetica, sans-serif;
          }

          .container{
            color: black;
            background-color:white;
            text-align: center !important;
          }
        </style>
    </head>

    <body>
      <div class="container">
        <h1>Login to Alex Chen's OnlyFans!</h1>
        <div>
          <p>Username:</p>
          <input type="text">
          <br>
          <p>Password:</p>
          <input type="password">
        </div>
        <div></div>
    </div>

    </body>
</html>