<!DOCTYPE html>
<html>
    <head>
        <style></style>
        <title>Hello, World!</title>
    </head>

    <body>
        <div id="container">

            <img id="logo" src="./images/kronosicon.jpg" alt="Kronos Logo" />
        
          <div id="kronosTitle">
              <h1>Kronos</h1>
          </div>
        
            <p id="build">Version 1.0.8</p>
        
        
          <div id="info">
            <p inline;>Welcome to Kronos, a utility designed </p>
            <p  inline;>for JRAHS's students and staff, bringing important and </p>
              <p inline;>useful functions all in one ergonomic website.</p>
        
          </div>
    </body>
</html>