<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
		    <meta name="Description" content="">
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css')}}" />

		    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&family=Source+Sans+Pro&display=swap" rel="stylesheet">

	    	<title>Home Page</title>
    </head>

    <body>
      <div class="container">
        <h1>Login :)</h1>
        <div>
          <p>Username:</p>
          <input type="text">
          <br>
          <p>Password:</p>
          <input type="password">
        </div>
        <div></div>
    </div>

    </body>
</html>